body {
    background-color: aqua;
    width: 70%;
    margin: 20px auto;
    box-sizing: border-box;
    font-family: arial;

}

#header {
    padding: 0;
    margin: 0;

}
#header img {
    width: 100%;
    height: 300px;
}

.container {
    background-color: coral;
    padding: 20px;
    width: 70%;
    height: fit-content;
    float: left;
}

.contain1 img {
    width: 200px;
    margin-right: 20px;
    
}


.contain1 {
    background-color: blue;
    margin: 10px 0;
    padding: 20px;

}

#img-contain1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.contain2 {
    background-color: rgb(250, 198, 179);
    padding: 20px;
    margin-bottom: 10px;
}

.images img {
    width: 33%;
    
}

.images {
    display: flex;
    justify-content: space-between;

}


.contain3 {
    background-color: bisque;
    padding: 20px;
}

#footer {
    margin-top: 10px;
}



.profile img {
    width: 70px;
}

.profile {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    
}

.tmn img {
    width:50px;

}

.container2 {
    font-size: 12px;
    height:fit-content;
    float: left;
    width: 20%;
    background-color: bisque;
    padding: 20px;
    margin-left: 0.95%;
}

.container2 button {
    font-size: 12px;
}

.teks p {
    line-height: 5px;
}

.tmn {
    margin-bottom: 22.8px;
    display: flex;
    justify-content: space-around;
}




#footer {
    margin-top: 20px;
}